@charset "UTF-8";

.imagemCentralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.divTopo {
	padding-bottom: 5 px;
}

.divCabecalho {
	padding-bottom: 5 px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
	border-radius: 15px;
}

h1 {
	color: white;
	font-family: cursive;
	text-align: center;
	font-size: 25px;
	background: rgb(8, 118, 130);
	background: linear-gradient(90deg, rgba(8, 118, 130, 1) 0%,
		rgba(56, 183, 219, 1) 50%, rgba(8, 118, 130, 1) 100%);
	border-radius: 15px;
	padding: 7px 0;
	width: 100%;
	margin: 0;
}

h2 {
	color: black;
	font-family: cursive;
	text-align: center;
	font-size: 22px;
	padding: 5px 0;
	width: 100%;
	margin: 0;
}